#!/bin/sh
set -eu
set -o pipefail

IP_TABLE="$(route -n)"
ROUTE="{{ net_ip }}     {{ gateway }}   {{ ip_mask_full }}   UG    0      0        0 {{ device }}"
if echo "$IP_TABLE" | grep -q ""; then
    echo "Route found";
else
    echo "Route not found";
fi