#! /usr/bin/env python
import sys
import json

# Get data from command line
json_data = sys.argv[1]
assert '{{ net_ip }}     {{ gateway }}   {{ ip_mask_full }}   UG    0      0        0 {{ device }}' in json_data